DATABASE_URL="file:./dev.db"
DOMAIN_CACHE_TTL_SECONDS="86400"
DOMAIN_RATE_LIMIT_REQUESTS="20"
DOMAIN_RATE_LIMIT_WINDOW_SECONDS="60"
DOMAIN_PROVIDER="rdap"
NAMECHEAP_API_USER=""
NAMECHEAP_API_KEY=""
NAMECHEAP_USERNAME=""
NAMECHEAP_CLIENT_IP=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
